<section class="product-section">
    <div class="container">
        <mat-card class="product-container">
            <div class="product-image">
                <img [src]="printingEditionModel.image ? printingEditionModel.image : ''" alt="">
            </div>
            <div class="product-info">
                <p class="link home-link" [routerLink]="['/Catalog']">
                    <mat-icon>arrow_back</mat-icon> Back to shop
                </p>
                <h3>{{printingEditionModel.title}}</h3>
                <h4><span class="font-color">${{printingEditionModel.price}}</span></h4>
                <p><span class="font-medium">Type</span>: {{types[printingEditionModel.type - 1]}}</p>
                <p>
                    <span class="font-medium">Authors</span>:
                    <span class="author-name" *ngFor="let author of printingEditionModel.authors">{{author.name}}</span></p>
                <br>
                <p id="description">{{printingEditionModel.description}}</p>

                <div class="cart" *ngIf="isClient">
                    <mat-form-field class="price-form">
                        <input autocomplete="off" matInput type="number" min="1" max="999" placeholder="Quantity"
                            [(ngModel)]="quantity">
                    </mat-form-field>
                    <div class="btn-cart">
                        <button mat-raised-button color="primary" (click)="addProductToCart()">Add to cart</button>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
</section>
