@import "src/assets/styles/color-scheme.scss";

.product-card {
    width: 100%;
    height: 100%;
    .card-image {
        border-bottom: 2px solid #eee;
        cursor: pointer;
        img {
            width: 100%;
            height: 250px;
            object-fit: contain;
        }
    }

    .card-content {
        padding: 6px 10px 0 10px;
        p {
          margin-bottom: 0 !important;
        }
        .card-prop {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            max-height: 1.5em;

            &#authors {
                font-size: 0.75rem;

                .author-name:not(:last-of-type)::after {
                    content: ", ";
                }
            }

            &#title {
                font-size: 1.25rem;
                text-decoration: none;
                cursor: pointer;
                transition: 0.2s;

                &:hover {
                    color: $primary;
                }

                &:active {
                    color: $primary-active;
                }
            }

            &#price {
                margin-top: 20px;
                color: $primary;
                font-size: 1.25rem;
                font-weight: 500;
            }
        }
    }

    &:hover {
        box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.12), 0 16px 16px 0 rgba(0, 0, 0, 0.24) !important;
    }

    .btn-cart {
        
    }
}

@media only screen and (max-width: 768px) {
    .product-card {
        width: 100%;
        .card-image {
            img {
                width: 100%;
                height: 50%;
                object-fit: contain;
            }
        }
    }
}
