<mat-card class="product-card">
    <a [routerLink]="['Details/',printingEdition.id]">
        <div class="card-image">
            <img [src]="printingEdition.image" [alt]="printingEdition.title">
        </div>
        <mat-card-content class="card-content">
            <p id="category" class="card-prop">{{types[printingEdition.type - 1]}}</p>
            <p id="title" class="card-prop" >{{printingEdition.title}}
            </p>
            <p id="authors" class="card-prop"><span class="author-name"
                    *ngFor="let author of printingEdition.authors">by {{author.name}}</span>
            </p>
            <p id="price" class="card-prop">
              {{printingEdition.price.toFixed(2)}}
              {{allCurrenciesSymbols[printingEdition.currency - 1]}}
            </p>
        </mat-card-content>
    </a>
</mat-card>
