footer {
    width: 100%;
    background-color: #1b8bcc;
    color: #fff;
    align-items: center;
    padding: 2vh 0;

    .footer-wrapper {
        width: 75%;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        .flex-container {
            min-width: 22%;
            margin-left: 20px;

            h5 {
                font-weight: 100;
            }

            p {
                font-weight: 100;
                color: #eee;
                font-size: 15px;
                margin-top: 20px;
            }

            ul {
                list-style-type: none;
                padding: 0;
                li {
                    font-size: 15px;
                    font-weight: 100;
                    color: #eee;
                }
            }
        }
    }
}
