<footer class="footer-container mat-elevation-z6">
    <div class="footer-wrapper">
        <div class="flex-container">
            <a routerLink="/">
                <img src="https://cdn.shopify.com/s/files/1/1836/0759/t/2/assets/footer_logo.png?v=6429171812370259177"
                    alt="">
            </a>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                laoreet dolore.</p>
        </div>

        <div class="flex-container">
            <h5>OUR MAIN OFFICE</h5>
            <p>San Francisco, California, US P.O. BOX: 553204 Phone: (+1) 998 3384 Mail: admin@bookshop.com</p>
        </div>
        <div class="flex-container">
            <h5>KEEP TOUCH WITH US</h5>
            <ul>
                <li>Facebook</li>
                <li>Twitter</li>
                <li>Google Plus</li>
                <li>Instagram</li>
            </ul>
        </div>
        <div class="flex-container">
            <h5>INFORMATION</h5>
            <ul>
                <li>About Us</li>
                <li>Terms & Conditions</li>
                <li>Contact Us</li>
                <li>My Account</li>
                <li>FAQ</li>
                <li>Blog</li>
            </ul>
        </div>
    </div>
</footer>