@import "src/assets/styles/color-scheme.scss";

header {
    background-color: $white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    z-index: 2;
    height: 95px;
}

.nav-button {
    margin-right: 5px;
    padding: 14px;
    border-radius: 0;
}

.wrap {
    width: 75%;
    min-height: 68px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
   
    a {
        img {
            margin-top: 17px;
            width: 168px;
            cursor: pointer;
        }
    }
}

.header-search {
    margin-left: 5%;
    width: 35%;
}

.btn-circle {
    border-radius: 50%;

    .mat-icon {
        font-size: 31px;
        color:#333;
        font-weight: 400;
        width: unset;
        height: unset;
    }
}


.nav-btns-auth {
    float:right;
}

.btn-sign-up,
.btn-sign-out {
    margin-right: 0;
}

.mat-button--active {
    background-color: $primary;
    color: $white;

    &:hover {
        background-color: $primary-active;
    }
}

.navigation-menu-dropdown {
    .avatar {
        width: 40px;
        min-width: 40px;
        height: 40px;
        line-height: 40px;
        margin: 0 8px 0 0;
        border-radius: 50%;
        font-size: 17px;
        font-weight: 600;
        text-align: center;
        object-fit: cover;
    }
}
