<header class="mat-elevation-z6">
    <div class="wrap">

        <a routerLink="/">
            <img src="https://cdn.shopify.com/s/files/1/1836/0759/t/2/assets/logo.png?v=4242335845745157568" alt="">
        </a>

        <div class="nav-btns-auth" *ngIf="!isAuthorized">
            <button class="nav-button btn-circle btn-cart" mat-button color="primary" routerLink="/Account/SignIn">
                <mat-icon class="material-icons-outlined" aria-hidden="false">shopping_cart
                </mat-icon>
            </button>
            <button class="nav-button btn-circle btn-sign-in" mat-button color="primary" routerLink="/Account/SignIn">
                <mat-icon class="material-icons-outlined">account_circle </mat-icon>
            </button>
        </div>

        <div class="nav-btns-auth" *ngIf="isAuthorized">
            <button class="nav-button btn-circle btn-cart" mat-button color="primary" (click)="openCart()"
                *ngIf="isAdmin == false">
                <mat-icon class="material-icons-outlined" [matBadge]="badge" [matBadgeHidden]="badge <= 0"
                    matBadgePosition="before" matBadgeColor="warn" aria-hidden="false">shopping_cart</mat-icon>
            </button>

            <button class="nav-button navigation-menu-dropdown" mat-button [matMenuTriggerFor]="menu"
                *ngIf="userModel && userModel.role">
                <img class="avatar" [src]="userModel.avatar" *ngIf="userModel.avatar">
                <mat-icon aria-hidden="false" *ngIf="!userModel.avatar">account_circle</mat-icon>
                <span>{{userModel.firstName}} {{userModel.lastName}}</span>
                <mat-icon>keyboard_arrow_down</mat-icon>
            </button>

            <mat-menu class="dropdown-items" #menu="matMenu">
                <button mat-menu-item routerLink="/Account/Profile" routerLinkActive="mat-button--active">My
                    profile</button>
                <button mat-menu-item *ngIf="isAdmin" #AdminPanelItem routerLinkActive="mat-button--active"
                    routerLink="/Orders">Orders
                    managment</button>
                <button mat-menu-item *ngIf="isAdmin" #AdminPanelItem routerLinkActive="mat-button--active"
                    routerLink="/Users">Users
                    managment</button>
                <button mat-menu-item *ngIf="isAdmin" #AdminPanelItem routerLinkActive="mat-button--active"
                    routerLink="/PrintingEditions">Products
                    managment</button>
                <button mat-menu-item *ngIf="isAdmin" #AdminPanelItem routerLinkActive="mat-button--active"
                    routerLink="/Authors">Authors
                    managment</button>
                <button mat-menu-item *ngIf="!isAdmin" routerLink="/Orders/MyOrders"
                    routerLinkActive="mat-button--active">My
                    orders</button>
                <button mat-menu-item (click)="signOut()">Sign Out</button>
            </mat-menu>
        </div>
    </div>
</header>
