@import "src/assets/styles/color-scheme.scss";
$primary-color: #4285F4;
$scale: 3;
$squareSize: 50px;
$cornerSize: ceil($squareSize / $scale);
$cornerPosition: ceil($cornerSize / $scale);

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

@keyframes dyinglight {
  15% {
    transform: scale(1.6);
  }

  50% {
    transform: rotate(-89deg);
  }

  100% {
    transform: rotate(-90deg);
  }
}

.dl {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
}

.dl__square {
  display: block;
  width: 50px;
  height: 50px;
  background: #4285F4;
}

.dl__container {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  transform-origin: 50% 50% 0;
  animation: dyinglight 1s ease infinite;
  backface-visibility: hidden;
}

.dl__corner--top:before,
.dl__corner--top:after,
.dl__corner--bottom:before,
.dl__corner--bottom:after {
  position: absolute;
  width: 17px;
  height: 17px;
  color: #4285F4;
  content: '';
}

.dl__corner--top:before {
  border-left: 1px solid;
  border-top: 1px solid;
  top: -6px;
  left: -6px;
}

.dl__corner--top:after {
  border-right: 1px solid;
  border-top: 1px solid;
  top: -6px;
  right: -6px;
}

.dl__corner--bottom:before {
  border-left: 1px solid;
  border-bottom: 1px solid;
  bottom: -6px;
  left: -6px;
}

.dl__corner--bottom:after {
  border-right: 1px solid;
  border-bottom: 1px solid;
  bottom: -6px;
  right: -6px;
}

.printing-edition-section {
  margin: 0;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-weight: 500;

  .sidebar-container {
    min-width: 270px;

    .sidebar-item {
      margin-bottom: 50px;
      padding: 15px;
      transition: 1s;

      .sidenav-filter-categories {
        .mat-checkbox {
          margin-left: 12px;
        }
      }

      .sidenav-filter-price {
        .price-form {
          width: 45%;

          &:first-of-type {
            margin-right: 10%;
          }
        }
      }

      .mat-form-field {
        width: 100%;
      }
    }
  }

  .main-container {
    flex: 1 1 60%;

    .main-container-filters {
      display: flex;

      .filter-card {
        width: 140px;
        margin-left: 20px;
        background: none;

        .mat-form-field#currency {
          width: 100%;
        }

        .mat-form-field#sorting {
          width: 75%;
        }

        .mat-icon {
          vertical-align: middle;
          transition: 0.2s;
          cursor: pointer;
          user-select: none;

          &:hover {
            color: $primary;
          }

          &:active {
            color: $primary-active;
          }
        }
      }
    }

    .cards-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      position: relative;

      .cards-overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        background: rgba(255, 255, 255, 0.71);
        z-index: 2;
      }

      .app-card {
        margin: 16px;

        &:first {
          margin-left: 0 !important;
        }

        &:last {
          margin-right: 0 !important;
        }
      }
    }
  }
}

.inverted {
    transform: scaleY(-1);
}

@media only screen and (min-width: 1480px) {
  .printing-edition-section {
    padding: 50px 0 50px 8%;

    .sidebar-container {
      flex: 0 0 20%;
    }

    .main-container {
      flex: 1 1 70%;

      .cards-container {
        .app-card {
          min-height: 320px;
          width: 320px;
        }
      }
    }
  }
}

@media only screen and (min-width: 986px) and (max-width: 1480px) {
    .printing-edition-section {
        padding: 50px 3%;
        .sidebar-container {
            flex: 0 0 20%;
        }

        .main-container {
            flex: 1 1 70%;

            .cards-container {
                .app-card {
                    min-height: 320px;
                    width: 250px;
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 986px) {
    .printing-edition-section {
        padding: 50px 3%;
        .sidebar-container {
            flex: 0 0 30%;
        }

        .main-container {
            flex: 1 1 60%;

            .cards-container {
                .app-card {
                    min-height: 200px;
                    width: 250px;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .printing-edition-section {
        padding: 50px 3%;
        .sidebar-container {
            flex: 0 0 100%;
        }

        .main-container {
            flex: 1 1;

            .cards-container {
                justify-content: center !important;

                .app-card {
                    min-height: 600px;
                    width: 100%;
                }
            }
        }
    }
}
