<section class="home-page-section">
    <div class="banner">
        <h1>Welcome to our book store</h1>
        <h5>Can't go out in the current coronavirus lockdown? Books were made for this moment. We've got all kinds of
            things meant to help you settle in & enjoy that stack of reads you've had piling up at home.

        </h5>
        <div class="btns-container">
            <button mat-raised-button color="primary" routerLink="/Catalog">
                Go To Shop<span class="material-icons">
                    arrow_forward
                </span>
            </button>
        </div>
    </div>

    <div class="bestsellers">
        <h3>Current Bestsellers</h3>
        <hr>
        <div class="cards-container">
            <app-bestseller-card class="app-card" *ngFor="let printingEdition of dataModel?.items"
                [printingEdition]="printingEdition"></app-bestseller-card>
        </div>
    </div>
    <div id="shopify-section-1489645109119" class="shopify-section">
        <div class="home-video static-surround" [ngClass]="{'is_play': isVideoPlaying}"
            style="background-image:url(//cdn.shopify.com/s/files/1/1836/0759/files/bg_video_3a0b8135-6e16-4323-b867-3c0385857df4_1540x.jpg?v=1489645118)">
            <div class="static-surround-inner">

                <div class="static-wrap">
                    <video id="static_video" class="bg-video js-is-active" loop="">
                        <source
                            src="//cdn.shopify.com/s/files/1/1836/0759/files/The_Joy_of_Books.mp4?4813843103019614403"
                            type="video/mp4">
                    </video>
                </div>

                <div class="static-content container">
                    <span class="static-control" (click)="toggleVideo()"
                        style="background-image:url(//cdn.shopify.com/s/files/1/1836/0759/files/icon-play_b49106c0-4d65-4b74-a0d4-e8d4cd3c5ce2_70x.png?v=1489645126)"></span>
                    <div class="text" style="color: #fff;">EXPLORE OUR NEW LIBRARY</div>
                </div>

            </div>
        </div>

    </div>
    <div class="bestsellers">
        <h3>Top Rated</h3>
        <hr>
        <div class="cards-container">
            <app-bestseller-card class="app-card" *ngFor="let printingEdition of dataModel2?.items"
                [printingEdition]="printingEdition"></app-bestseller-card>
        </div>
    </div>

    <app-footer></app-footer>
</section>