.home-page-section {
    width: 100%;

    .banner {
        background-image: url("/assets/images/banner-3.jpg");
        width: 100%;
        background-size: cover;
        text-align: center;
        padding: 16% 0;

        h1 {
            margin-bottom: 40px;
            text-transform: uppercase;
        }

        h5 {
            margin-bottom: 80px;
            width: 52%;
            margin-left: auto;
            margin-right: auto;
            text-align: justify;
        }

        .btns-container {
            button {
                margin: 0 25px;
                transform: scale(1.2);
            }
        }
    }
    .bestsellers {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        padding: 50px 0;

        h3 {
            text-align: center;
        }

        .cards-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .app-card {
                margin: 16px;

                &:first {
                    margin-left: 0 !important;
                }

                &:last {
                    margin-right: 0 !important;
                }
            }
        }
    }
}
.static-surround {
    text-align: center;
    overflow: hidden;
    position: relative;
    max-height: 450px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.static-surround:after {
    content: "";
    background-color: transparent;
    background-color: rgba(27, 139, 204, 0.8);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC1B8BCC,endColorstr=#CC1B8BCC);
    zoom: 1;
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.static-surround .static-wrap {
    opacity: 0;
}

.static-surround.is_play:after {
    content: none;
}

.static-surround.is_play .static-control {
    background-image: url(//cdn.shopify.com/s/files/1/1836/0759/t/2/assets/icon_pause.png?v=6154217406188639361) !important;
}

.static-surround.is_play .static-wrap {
    opacity: 1;
}

.static-surround.is_play .static-content {
    min-height: 100px;
}

.static-surround.is_play .static-content .text {
    display: none;
}

.static-surround-inner,
.static-wrap {
    height: 100%;
}

#static_video {
    display: block;
    width: 100%;
    height: 100%;
}

.static-control {
    width: 70px;
    height: 70px;
    margin: 0px auto;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    cursor: pointer;
}

.static-content {
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    right: 0;
    bottom: 0;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
    display: table;
}

.static-content .text {
    font-size: 40px;
    font-weight: 400;
    margin: 30px auto 0px;
}

.statistic-item {
    border: 1px solid #b8b8b8;
    background: #f8f8f8;
    padding: 40px 7%;
    text-align: center;
}

.statistic-item .statistic-img {
    margin: 0 auto 10px;
}

.statistic-item .title {
    font-weight: 700;
    font-size: 33px;
    margin: 0 auto 6px;
}

.statistic-item .caption {
    font-size: 18px;
    font-weight: 300;
}

@media only screen and (min-width: 1440px) {
    .bestsellers {
        width: 75% !important;
        .app-card {
            min-height: 320px;
            width: 225px;
        }
    }
}

@media only screen and (min-width: 1280px) and (max-width: 1440px) {
    .bestsellers {
        width: 85% !important;
        .app-card {
            min-height: 320px;
            width: 225px;
        }
    }
}

@media only screen and (min-width: 1045px) and (max-width: 1280px) {
    .bestsellers {
        width: 100% !important;
        .app-card {
            min-height: 320px;
            width: 225px;
        }
    }
}

@media only screen and (min-width: 986px) and (max-width: 1045px) {
    .bestsellers {
        width: 100% !important;

        .app-card {
            min-height: 320px;
            width: 225px;

            &:last-child {
                display: none !important;
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 986px) {
    .bestsellers {
        .app-card {
            min-height: 200px;
            width: 250px;
        }
    }
}

@media only screen and (max-width: 768px) {
    .bestsellers {
        width: 100% !important;
        .cards-container {
            justify-content: center !important;

            .app-card {
                min-height: unset;
                width: 40%;
            }
        }
    }
}
