<section class="reset-password-section">
    <mat-card class="content-wrap">
        <div class="label">
            <h2>Reset Password</h2>
        </div>
        <form [formGroup]="resetPasswordForm" novalidate>
            <br>
            <div class="input-form-group">
                <p>Enter your email address and we’ll send you instructions.</p>
            </div>
            <div class="input-form-group">
                <mat-form-field>
                    <input placeholder="Email" name="emailInput" matInput formControlName="email">
                    <mat-error
                        *ngIf="!resetPasswordForm.controls['email'].value && resetPasswordForm.controls['email'].touched">
                        Email can`t be empty
                    </mat-error>
                    <mat-error
                        *ngIf="resetPasswordForm.controls['email'].value && resetPasswordForm.controls['email'].invalid && resetPasswordForm.controls['email'].touched">
                        Email is invalid
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="input-form-group">
                <button class="submit-button" mat-flat-button color="primary" [disabled]="resetPasswordForm.invalid || isSending"
                    (click)="redirect()">{{sendButtonText}}</button>
            </div>
        </form>
    </mat-card>
</section>
