<mat-card class="product-card">
    <a [routerLink]="['/Catalog/Details/',printingEdition.id]">
        <div class="card-image">
            <img [src]="printingEdition.image" [alt]="printingEdition.title">
        </div>
        <mat-card-content class="card-content">
            <p id="title" class="card-prop">{{printingEdition.title}}</p>
            <p id="authors" class="card-prop"><span class="author-name"
                    *ngFor="let author of printingEdition.authors">{{author.name}}</span>
            </p>
            <p id="price" class="card-prop">{{printingEdition.price.toFixed(2)}}
                $</p>
        </mat-card-content>
    </a>
</mat-card>