@import "src/assets/styles/color-scheme";

.sign-in-section {
    display: flex;
    justify-content: center;
    padding: 50px 35% 200px 35%;

    .note {
        border: 1px dotted;
        background: #e8ffa685;
        padding: 10px;
        margin-top: 10px;
    }

    .content-wrap {
        flex: 0 0 480px;
        width: 100%;
        padding: 48px;
        min-height: 0;
        .logo {
            img {
                display: block;
                margin: auto;
                width: 50%;
            }
        }

        .input-form-group {
            .mat-form-field {
                width: 100%;
                margin-top: 20px;
            }

            .submit-button {
                width: 100%;
                border-radius: 0;
            }
        }

        .label-form-group {
            margin-top: 20px;
            text-align: center;

            a {
                color: $primary;
                text-decoration: none;
                font-weight: 500;
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    .sign-in-section {
        padding: 50px 0 0 0;
        .content-wrap {
            flex: 0 0 100%;
        }
    }
}
