<h1 mat-dialog-title>Cart</h1>
<div mat-dialog-content>
    <div class="table-container" *ngIf="cart.items.length > 0">
        <table mat-table (matSortChange)="setOrder($event); applyFilters()" [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="title" sticky>
                <th mat-header-cell *matHeaderCellDef> Product </th>
                <td mat-cell *matCellDef="let row"> {{row.productTitle}} </td>
                <td mat-footer-cell *matFooterCellDef> <strong>Total</strong> </td>
            </ng-container>

            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef> Price </th>
                <td mat-cell *matCellDef="let row"> ${{row.price.toFixed(2)}} </td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef="quantity">
                <th mat-header-cell *matHeaderCellDef> Quantity </th>
                <td mat-cell *matCellDef="let row">
                    <mat-form-field class="price-form">
                        <input autocomplete="off" matInput type="number" min="1" max="999" [(ngModel)]="row.quantity"
                            (input)="updateItem(row)">
                    </mat-form-field>
                </td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef="sum">
                <th mat-header-cell *matHeaderCellDef> Sum </th>
                <td mat-cell *matCellDef="let row"> ${{(row.price * row.quantity).toFixed(2)}} </td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef="control" stickyEnd>
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let row; let i = index"><button mat-raised-button color="primary"
                        (click)="removeItem(i)">X</button></td>
                <td mat-footer-cell *matFooterCellDef> <strong>${{total.toFixed(2)}}</strong> </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
        </table>
    </div>
    <div class="container" *ngIf="cart.items.length === 0">
        <p>Cart is empty</p>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="applyPurchasing()" [disabled]="cart.items.length < 1" routerLink="/Orders/MyOrders">Proceed</button>
    <button mat-button (click)="close()">Cancel</button>
</div>