

$accent: #49c593;
$accent-active: #21a364;
$primary: #1b8bcc;
$primary-active: #106eb9;
$white: #ffffff;
$body-color: #FAFAFA;
$white-active: #eeeeee;

$mat-myapp-accent: (
    50: #e9f8f2,
    100: #c8eedf,
    200: #a4e2c9,
    300: #80d6b3,
    400: #64cea3,
    500: #49c593,
    600: #42bf8b,
    700: #39b880,
    800: #31b076,
    900: #21a364,
    A100: #dfffee,
    A200: #acffd4,
    A400: #79ffba,
    A700: #5fffad,
    contrast: (
        50: #ffffff,
        100: #ffffff,
        200: #ffffff,
        300: #ffffff,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #ffffff,
        A200: #ffffff,
        A400: #ffffff,
        A700: #ffffff
    )
);

$mat-myapp-primary: (
    50: #e4f1f9,
    100: #bbdcf0,
    200: #8dc5e6,
    300: #5faedb,
    400: #3d9cd4,
    500: #1b8bcc,
    600: #1883c7,
    700: #1478c0,
    800: #106eb9,
    900: #085bad,
    A100: #d9eaff,
    A200: #a6ceff,
    A400: #73b2ff,
    A700: #59a4ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);